:root {
	--background-color: #161616;
	--accent-color:     #FF8888;
	--link-color:       #AAAAFF;
	--text-color:       #FFFFFF;
	--text-dt-color:    #FFCCAA;
	--tierlist-s:                #FFDD44FF;
	--tierlist-a:                #88FF88FF;
	--tierlist-b:                #44BBFFFF;
	--tierlist-c:                #FFAA44FF;
	--tierlist-d:                #FF8877FF;
	--tierlist-text-shadow-size: 1.0em;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	margin: 1em auto;
	max-width: 40em;
	padding: 0 0.62em 3.24em;
	font: 1.2em/1.62 serif;
}

h1,h2,h3,h4 {
	line-height: 1.2;
	color: var(--accent-color);
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	text-align: center;
}

div {
	background: var(--background-color);
	color: var(--text-color);
	max-width: 48em;
	padding: 0.4em 1.6em;
}

div.tierlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

div.game {
	font-size: 0.9em;
	color: var(--text-color);
}

@media (max-width: 500px) {
	div.tierlist {
		flex-direction: column;
		align-items: center;
	}

	div.game {
		width: 100%;
	}
}

div.tierlist-s { text-shadow: 0 0 var(--tierlist-text-shadow-size) var(--tierlist-s); }
div.tierlist-a { text-shadow: 0 0 var(--tierlist-text-shadow-size) var(--tierlist-a); }
div.tierlist-b { text-shadow: 0 0 var(--tierlist-text-shadow-size) var(--tierlist-b); }
div.tierlist-c { text-shadow: 0 0 var(--tierlist-text-shadow-size) var(--tierlist-c); }
div.tierlist-d { text-shadow: 0 0 var(--tierlist-text-shadow-size) var(--tierlist-d); }

button {
	background: transparent;
	color: var(--link-color);
	border: none;
	font-size: 1em;
	font-family: serif;
	cursor: pointer;
}

button:hover {
	text-decoration: underline;
}

summary {
	cursor: pointer;
}

h2 {
	font-size: 1.6em;
	text-align: center;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.0em;
}

p {
	text-align: justify;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

dt {
	color: var(--text-dt-color);
	font-size: 1.2em;
}

dd {
	text-align: justify;
}
