:root {
	--background-color: #101010;
	--accent-color: #ff5050;
	--link-color: #ff9900;
	--text-color: #ffffe6;
}
/*TEMP

	--background-color: #111111;
	--accent-color: #ff5050;
	--link-color: #ff9900;
	--text-color: #ffffe6;

*/
/* Body gray background, white font */
body {
	background: var(--background-color);
	color: var(--text-color);
	margin: 1em auto;
	max-width: 40em;
	padding: 0 0.62em 3.24em;
	font: 1.2em/1.62 serif;
}

/* Header 1 is centered and green and bold */
h1 {
	font-family: sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1.2;
	color: var(--accent-color);
	text-align: center;

}

/* Header 1 is left sided and green and smaller */
h2 {
	font-size: 1.5em;
	line-height: 1.2;
	color: var(--accent-color);
	text-align: center;
}

/* Header 1 is left sided and green and italic and smaller */
h3 {
	font-size: 1.25em;
	line-height: 1.2;
	color: var(--accent-color);
	text-align: center;
}

/* Image centered and rounded */
img.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px; /* Example border radius */
	max-width: 100%;    /* Ensures the image does not exceed its container */
	height: auto;       /* Maintains the aspect ratio of the image */
}

/* Gif */
img.center-gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px; /* Example border radius */
	max-width: 100%;    /* Ensures the image does not exceed its container */
	height: auto;       /* Maintains the aspect ratio of the image */
}

/* Centered Image Caption */
.centered-image-caption {
	text-align: center;
	font-style: italic;
}

/* Hyperlink */
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

dt {
	font-weight: bold;
}

dd {
	text-align: justify;
}

/* Footer style, mail, webpage, etc. */
.footer-style {
	text-align: center;
	font-size: smaller
}

/* Paragraph default values */
.paragraph-default {
	text-align: justify;
}
